.Order {
  text-align: center;
  background-color: white;
  background-size: cover;
  height: 100vh;
  color: black;
}

.Header {
  background-color: #ce2829;
}

.Header h1 {
  text-align: center;
}

.Bar {
  display: flex;
  justify-content: center;
}

.Bar ul {
  display: flex;
  color: white;
  list-style-type: none;
  width: 500px;
  text-decoration: none;
  justify-content: center;
}
